body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

svg {
  display: block;
  margin: auto 0;
}